@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+Antique&display=swap');
body{
	margin: 0;
	padding:0;
	overflow-x: hidden;
	
	--custom-bg:#9457eb;
	--custom-text:#9457eb;
	
}
html{
	scroll-behavior: smooth;	
}
::-webkit-scrollbar{
	background: #F2F2F2;
	width: 0.45rem;
}
::-webkit-scrollbar-thumb{
	background: var(--custom-bg);
	border-radius: 6px;
}
/*global style classes*/
.font-big-shoulder{
	font-family: 'Big Shoulders Stencil Text', cursive;
}
.font-bu{
	font-family: 'Baumans', cursive;
}
.font-sar{
	font-family: 'Saira Condensed', sans-serif;
}
.font-bar{
	font-family: 'Barlow', sans-serif;
}
.font-zen{
	font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.font-noto{
	 font-family: "Noto Sans JP", sans-serif;
}
.font-14{
	font-size: 14px;
}
.font-15{
	font-size: 15px;
}
.font-16{
	font-size: 16px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-30{
	font-size: 30px;
}
.font-40{
	font-size: 40px;
}
.bg-light{
	background: #FBFBFB!important;
}
.text-fav{		
	color: var(--custom-text);
}
.bg-fav{
	background: var(--custom-bg);
}
#custom-border-1{
	width: 9%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid var(--custom-bg);
	
}
#cutom-border-2{
	width:35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid var(--custom-bg);
	margin-bottom: 0.4rem;
	margin-top: 0px;
}
@media screen and (max-width: 768px){

#custom-border-1{
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid var(--custom-bg);
	
}
#cutom-border-2{
	width:32%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid var(--custom-bg);
	margin-bottom: 0.4rem;
	margin-top: 0px;
}
}
@media screen and (max-width: 768px){
	h2{
		font-size: 26px;
	}

}

/*preloader*/
.content{
	display: none;
}

.loader{	
	height: 100vh;
	width: 100vw;	
	position: absolute;
	background: #FBFBFB;
}

.loader>div{	
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

/*header*/
@media screen and (max-width: 768px){
	.navbar-brand{
		font-size:29px;
	}
}
nav{
	z-index: 99;
	overflow: hidden;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2);
}
nav .active {
	color: var(--custom-text)!important;
}
.navbar-toggler{	
	display: contents;	
}
.navbar-toggler:hover{
	color: var(--custom-text)!important;
}
.nav-link{
	margin-left: 30px;
}
.nav-link:hover{
	color: var(--custom-bg)!important;
}
@media screen and (max-width: 768px){
	.nav-link{
		margin-left:0px;
	}
}
/*information*/
#info .author-info{		
	margin-top:7rem!important;
}
#info .author-info .author-info-text{
	margin-top: 9rem!important;
} 
#info img{
	max-width: 100%;	
}
#info button{
	animation-delay: 0.4s;
	animation-duration:1s;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transition: 0.5s ease;
}
#info button:hover{
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.4);
	transform: translate(-1%);
}
@media screen and (max-width: 768px){	
	#info img{
		margin-top: 0.5rem;
		max-width: 100%;
		height: 300px;
		float: none; 	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#info p{	
		letter-spacing: 0px!important;
	}
	#info .author-info .author-info-text{
		margin-top: 2rem!important;
	} 
	#info .author-info{		
		margin-top:4rem!important;
	}
	#info .upper-text{
		font-size: 26px!important;
	}
	#info .lower-text{
		font-size: 29px!important;
	}
	#info .extra-text{
		font-size: 19px!important;
	}
}
/*intro*/

#intro button{
	animation-delay: 0.2s;
	animation-duration:0.7s;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transition: 0.5s ease;
}
#intro button:hover{
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.4);
	transform: translate(-1%);
}
#intro img{
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	border-radius: 1px;
	margin-top: 2.5em;
}
#intro .about-me{
	margin-top: 7.5rem;
}
/*scrollSpy*/

@media screen and (max-width: 768px){
	#intro {
		margin-top: 1rem;
	}
	#intro p {
		font-size: 16px;
	}
}
@media screen and (max-width: 768px){

	#intro img{
		margin-left: 0.3rem;
		margin-top: 0em!important;
		
	}
}

@media screen and (max-width: 768px){
	#intro .about-me{
		margin-top: 3rem;
	}

}
/*education*/
.education h3,span{
	animation-delay: 0.1s;
	animation-duration:1.8s;
}
.education_sections{
	display: flex;
	justify-content: center;
	align-items: center;

}
.education_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
}
.education_title{   
    font-weight: 500;
    margin-top: 0.75rem;
    
}
.education_subtitle{
    display: inline-block;    
    margin-bottom: 1rem;       
}

.education_calendar{  
    color: var(--custom-text);
}

.education_rounder{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--custom-text);
}

.education_line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--custom-text);
    transform: translate(6px , -7px);
}
@media screen and (max-width:768px){

	.education_subtitle{
		font-size: 14px;
	}
	.education_title{
		font-size:20px;
	}
	.education_calendar{
		font-size: 12px;
	}
}

@media screen and (max-width:318px){
	#education{
		display: none;
	}
}

/*counter*/
#counter{
	
  background: var(--custom-bg) url("../images/Dust.png") repeat;
}
	

.counter-border-right{
	border-right: 1px solid var(--border);
}
@media screen and (max-width:768px){

.counter-border-right{
	border:none;	
	}
}
@media screen and (max-width: 786px){

	#counter h1{
		font-size: 22px;
	}
	#counter p{
		font-size:18px;
	}
	#counter .border-counter p {
		font-size: 17px;
	}
	#counter .border-counter span {
		font-size: 19px;
	}
}
@media screen and (max-width: 768px){	
#counter .border-counter{
	
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	}
}
/*completed projects*/
#completed-prj button{	
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transition: 0.5s ease;
}
#completed-prj button:hover{
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.4);
	transform: translate(-1%);
}
@media screen and (max-width: 768px){
	#completed-prj .info-backend{
		font-size: 17px;
	}

}

#completed-prj a{
	text-decoration: none;
}
#completed-prj img{
	box-shadow: 1px 2px 25px #999;
	transition: all.3s;
	border-radius: 3px;
	width: 100%;
 	height: 296px; 
}
#completed-prj img:hover{
	
	opacity: 0.5;	
}
#completed-prj .col-md-6{
	margin-top: 3.5rem;	
	padding-bottom: 2rem;
}
@media screen and (max-width: 768px){

	#completed-prj img{
		height: 250px;
	}
}
/*to-top*/
.to-top{
	position: fixed;
	bottom: 16px;
	right: 16px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	z-index:1;
	transition: all .4s;
	border-radius: 5px;
	font-size: 2.5rem;
	display: inline-block;
	animation: upDown 1s infinite ease-in-out;

}

.to-top:hover img{
	transition: 1s ease;
	margin-bottom: 4rem!important;
}
@media screen and (max-width: 768px){
	.to-top{
	position: fixed;
	bottom: 16px;
	right: 8px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	z-index:1;
	transition: all .4s;
	border-radius: 5px;
	font-size: 30px;
	}
}
 button{
 background: none;
 border:none;
 outline: none;
}
 .to-top:focus{
 background: none;
 border:none;
 outline: none;
}
.to-top.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;

}
.to-top:hover{
	color:#9457eb;
}
/*my skils*/
@media screen and (max-width: 768px){
	#myskills p{
		font-size: 16px;
	}
}
#myskills .progress-bar{
	transition: 0.5s all ease;
	animation: change 15s linear forwards;

}
@keyframes change{
	0%{width: 0%};
	100%{width: 100%;}
}
/*contact*/
#contact  input[type = text],
#contact  input[type = email]{
	background: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:none;
	border-bottom: 1px solid #000 !important;
	margin-top: 50px;
	width: 50%;
	
}
/*contact*/
#contact  input[type = text]::placeholder,
#contact  input[type = email]::placeholder{
	font-size: 16px;
	font-family: "Zen Kaku Gothic Antique", sans-serif;
	
}

#contact button{
	animation-delay: 0.2s;
	animation-duration:0.7s;	
	border:none;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transition: 0.5s ease;
}
#contact button:hover{
	background: var(--custom-bg);
}
@media screen and (max-width: 768px){
	#contact  input[type = text],
	#contact  input[type = email]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:none;
	border-bottom: 1px solid #000 !important;
	margin-top: 50px;
	width: 100%;

}

}
/*services*/
#services .card{
	background: #FFF;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.1);
	transition: 1s ease;
	border-radius: 5px;
	

}
#services .card:hover{
	background-color: var(--custom-bg);
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.3);
}
#services .card:hover > img{	
	transition: 1s  ease;
	transform: translateY(-15%)  rotateY(360deg) ;
	
}
@media screen and (max-width: 768px){
	#services .card h3{
	font-size: 18px;	
		}
	#services .card p{
		font-size: 15px;
	}

#services .card:hover > img{	
	transform: translateY(0%);
}
}
/*swiper*/
#swiper .swiper-slide img{
	width: 140px;
	height: 140px;
	border-radius: 50%;
}
#swiper .swiper-slide{
 padding: 3rem 9rem;
}
#swiper .swiper-pagination-bullet{
	background-color: var(--custom-bg);
}
@media screen and (max-width: 768px){

#swiper .swiper-slide{
 padding: 2.5rem 0rem;
 text-align: center;
}
#swiper .swiper-slide h2{
	margin-top: 1.5rem;
	font-size: 18px;
}
#swiper .swiper-slide p{
	margin-top: 0.6rem;
	font-size: 15px;
}
#swiper .swiper-slide img{
	width: 100px;
	height: 100px;
}

}
/*customize*/
#customize button{
	animation-delay: 0.2s;
	animation-duration:0.8s;
 	margin-right: 1rem;
 	transition: 0.5s ease;
}
#customize p{
	animation-duration: 1.5s;
}
#customize button:hover{
	opacity: 0.7;
	border: 1px solid #4B4949;
	
}
#customize button:focus{
	outline: none;
	
}
#customize .btn-1{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background:#9457eb;		
}
#customize .btn-2{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #48C9B0;	
}
#customize .btn-3{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #ffd859;	
}
#customize .btn-4{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background:#f3a6c0;	
}
@media screen and (max-width: 768px){
	#customize button{
		margin-right: 0.85rem !important;
	}
}